<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/static/css/presence-analyzer.css" rel="stylesheet" type="text/css"/>

    {% block script %}
    {% endblock %}
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <li {% if active_page == 'presence_weekday' %} class="active"    {% endif %}>
                    <a href="{{ url_for('render_templates', file_name='presence_weekday.html') }}">
                        Presence by weekday
                    </a>
                </li>
                <li {% if active_page == 'mean_time_weekday' %} class="active"    {% endif %}>
                    <a href="{{ url_for('render_templates', file_name='mean_time_weekday.html') }}">
                        Presence mean time
                    </a>
                </li>
                <li {% if active_page == 'presence_start_end' %} class="active"    {% endif %}>
                    <a href="{{ url_for('render_templates', file_name='presence_start_end.html') }}">
                        Presence start-end
                    </a>
                </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
