<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/presence-analyzer.css" rel="stylesheet" type="text/css"/>
    <%block name="script">
    </%block>
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <%
                navigation_bar = [
                    ('/presence_weekday', 'Presence by weekday'),
                    ('/mean_time_weekday', 'Presence mean time'),
                    ('/presence_start_end', 'Presence start-end'),
                    ('/statistics', 'Statistics')
                ]
                %>
                % for href, caption in navigation_bar:
                    % if href == ('/' + site):
                    <li class="active">
                    % else:
                    <li>
                    % endif
                        <a href="${href}">${caption}</a>
                    </li>
                % endfor
            </ul>
        </div>
        <div id="content">
            <%block name="content">
            </%block>
        </div>

    </div>
</body>
