<!doctype html>

<%inherit file="base.html"/>
<%block name="content">
    <h2>Presence start-end weekday</h2>
    <p>
        <select id="user_id" style="display: none">
            <option value="">--</option>
        </select>
        <div id="chart_div" style="display: none">
        </div>
        <div id="loading">
            <img src="/static/img/loading.gif"/>
        </div>
    </p>
</%block>

<%block name="script">
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
    </script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){
                $('#presence_start_end').addClass('active')
                var loading = $('#loading');
                $.getJSON("/api/v1/users", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();

                        // Converts timestamps to date format
                        $.getJSON("/api/v1/presence_start_end/"+selected_user, function(raw_result) {

                            result = [];

                            $.each(raw_result, function(i, value) {
                                if (value[1][0] > 0 && value[1][1] > 0) {
                                    result.push([
                                        value[0],
                                        parseInterval(value[1][0]),
                                        parseInterval(value[1][1])
                                    ]);
                                }
                            });

                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Weekday');
                            data.addColumn({ type: 'datetime', id: 'Start' });
                            data.addColumn({ type: 'datetime', id: 'End' });
                            data.addRows(result);
                            var options = {
                                hAxis: {title: 'Weekday'}
                            };
                            var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                            formatter.format(data, 1);
                            formatter.format(data, 2);

                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.Timeline(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
